*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* inizio container */
.container{
    width: 80%;
    margin: auto;
}

/* inizio header */
header{
    margin: 20px 0 20px;
}

.logo{
    height: 70px;
    line-height: 70px;
    padding: 0 20px;
    border-right: 1px solid rgb(184, 184, 184);
    margin-bottom: 10px;
}
nav ul li{
    display: inline-block;
    margin-right: 5px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 20px;
}

nav a{
    text-decoration: none;
    color: rgb(184, 184, 184);
}

/* inizio main */

.jumbotron{
    background-image: url(../img/banner.jpg);
    background-position: center;
    height: 450px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.jumbotron h3{
    color: white;
    font-size: 30px;
    margin-left: 40px;
    padding-top: 300px;
}

.jumbotron p{
    color: white;
    font-size: 25px;
    margin-left: 40px;

}



/* inizio colonne */
.columns{
    height: 640px;
    background-color: rgb(0, 135, 255);
}

/* top content */
.top-content{
    height: 100px;
    padding-left: 40px;
    padding-top: 30px;
}

.top-content span{
    color: rgb(184, 184, 184);
}

/* left-column */
.left-column{
    height: 600px;
    width: 25%;
    margin-top: 20px;
    background-color: rgb(171, 207, 231);
    float: left;
}

.left-column img{
    width: 100%;
}

.left-column h4{
    margin-bottom: 10px;
}

/* middle-column */
.middle-column{
    height: 600px;
    width: 46%;
    margin-top: 20px;
    margin-right: 2%;
    margin-left: 2%;
    background-color: rgb(171, 207, 231);
    float: left;
}

/* right-column */
.right-column{
    height: 600px;
    width: 25%;
    margin-top: 20px;
    background-color: rgb(171, 207, 231);
    float: left;
}

/* fine parte flottante */

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* inizio footer */
footer{
    background-color: rgb(136, 0, 254);
    height: 50px;
    margin-top: 20px;
}